<div >
	<h1>Habyte</h1>
	<button ng-click='logout()' class="btn btn-danger" style='float:right; margin-bottom:10px'>Logout</button>
	<a class="btn" href="#/0/day" style='float:right; margin-bottom:10px'>Day</a>
</div>
<div class="row">
	<div class="col-md-8"> 
		<h4> Choose your task timeline: </h4>
	</div>
	<div class="col-md-4">
		<select class="form-control" ng-model='selectedTask' ng-change='update()'>
		    <option ng-repeat="timeline in timelines" value="{{timeline}}">{{timeline.taskName}}</option>
		</select>
	</div>
</div>
<!-- <div timeline-dir task-name='{{viewedTask}}'></div> -->
<h4> {{ message }} </h4>
<div>
	<canvas tc-chartjs-line chart-data="myData" chart-options="myOptions" width="" height="80"></canvas>
</div>