<div>
	<table class="table">
		<tr>
			<th>Name</th>
			<th>Number</th>
			<th>Goal</th>
			<th>Inc/Dec</th>
			<th>Remove</th>
		</tr>
		<tr ng-repeat='task in tasks'>
			<td><center>{{task.name}}</center></td>
			<td><center>{{task.number}}</center></td>
			<td><center>{{task.goal}}</center></td>
			<td><button ng-click='incrementCounter(task.name)'> + </button>
			<button ng-click='decrementCounter(task.name)'> - </button></td>
			<td><a href="" ng-click='removeTask(task.name)'> X </a></td>
		</tr>
	</table>
	<form ng-submit='addTask()'>
		<input type='text' ng-model='newName'>
		<input type='text' ng-model='newGoal'>
		<input type='submit' value='add'>
	</form>
</div>